# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
yarn.lock
package-lock.json

# testing
/coverage

# production
/build

# Editor and IDE files
.vscode/
.idea/
*.iml

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
Thumbs.db

# Output of the npm package manager
npm-debug.log*

# Output of the yarn package manager
yarn-debug.log*
yarn-error.log